body {
    margin: 0;
    padding: 0;
    font-family: IBM Plex Sans, sans-serif;
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-size: cover;  
}
        
header {
    background-color: #474A51;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position:sticky; 
    top:0;
    z-index: 1;
}
        
nav {
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;

}
nav a:hover {
    color: #00f2ff;
}

main {
    padding: 20px;
    margin-bottom: 20px;
}
.image-container {
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: center;

}

img {
    max-width: 70%;
}
table {
    width: 50%;
    border-collapse: collapse;
    color: #fff;

}

th, td {
    border: 1px solid #474A51;
    padding: 8px;
}

th {
    background-color: #474A51;
    color: #fff;
}

footer {
    background-color: #474A51;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 26px;
    margin-top: -26px;
}

.table{
    display: flex;
    justify-content: center;
}

.cell_fb, .cell_at{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FFFAFA;

}

.cell_fb{
    text-align: left;
    width: 400px;
    height: 500px;
}

.cell_at{
    text-align: center;
    width: 250px;
    height: 300px;
}
.text{
    max-width: 80%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    background-color: #FFFAFA;
    color: black;
    height: 230px;

}
.wrapper{
    height: 553px;
}
.selected_menu{
    color:rgb(255, 108, 2);
    font-weight: bold;
}
.btn{
    height: 35px;
    width: auto;
    min-width: 120px;
    background-color: aquamarine;
    border-radius: 5px;
    border-color: cadetblue;
}
button a{
    text-decoration: none;
    color: black;
}